/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

/* Page reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: rgb(237, 235, 235);
}

.container {
  width: 80vw;
  margin: 0 auto;
}

/* NAV SIDEBAR */
nav.side-navbar {
  height: 100%;
  width: 0;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 5em;
  transition: 0.4s;
}

nav.side-navbar #close-navbar {
  cursor: pointer;
  padding: .5em .5em .5em 2em;
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 3.1rem;
  transition: 0.4s;
}

nav.side-navbar .navbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity 150ms ease-in-out
}

nav.side-navbar .navbar-wrapper.open {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

nav.side-navbar .navbar-wrapper h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

nav.side-navbar .navbar-wrapper h2 {
  margin-bottom: 1rem;
}

nav.side-navbar .navbar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.3rem;
}

nav.side-navbar .navbar-wrapper li {
  margin-bottom: .3rem;
}

nav.side-navbar .navbar-wrapper li:last-of-type {
  margin-bottom: 0;
}
/* /NAV SIDEBAR */

/* FRONT PAGE */
header {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-evenly;
}

header #open-navbar,
header #add-note {
  cursor: pointer;
}

header h1 {
  font-size: 2.3rem;
  align-self: center;
}

header .add-note {
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#all-notes {
  display: flex;
  justify-content: space-between;
}

section#all-notes article {
  background-color: #fff;
  padding: 1.5rem;
  width: 30%;
  border: 1px solid black;
}

section#all-notes .article-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

section#all-notes h1,
section#all-notes p {
  margin-bottom: 1rem;
}

section#all-notes .dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

section#all-notes .dates p {
  margin: 0;
}

section#all-notes .files-checked {
  display: flex;
}

section#all-notes .files-checked .far {
  margin-left: .5rem;
}

section#all-notes .files-checked .fa-check-square {
  margin-left: auto;
}

section#all-notes article.note-checked {
  background-color: rgb(193, 225, 193);
}
/* /FRONT PAGE */
